<link rel="stylesheet" href="../css/navstyle.css">
<div class="nav">
	<div id='navtit'><span>酒店资料管理系统</span></div>
	<ul id="navul">
		<li>
			<form action="" method="POST" id="navform">
			<a href="/order/1" class="navitem">首页</a>
			<a href="/adminlist/1" class="navitem">管理人员</a>
			<a href="/userlist/1" class="navitem">管理用户</a>
			<a href="/edit" class="active navitem">个人信息</a>
			<a href="/" class="navitem">退出</a>
			</form>
		</li>
	</ul>
</div>