<link rel="stylesheet" href="../css/loginstyle.css">
<html>
<body>
	<form action="/regeisterdb" method="POST" id="loginform">
		<fieldset id="loginform">
			<legend>注册</legend>
			<ul id="loginitem">
				<li>
					<label>用户名:</label>
					<input type="text" name="username" id="acipt" value=" ">
					<p id="acinfo">输入字母、数字和-、_ 3-15位</p>
				</li>
				<li>
					<label>密   码:</label>
					<input type="password" name="password" id="pwdipt" value=" ">
					<p id="pwdinfo">输入字母、数字和-、_ 3-15位</p>
				</li>
				<li>
					<label> </label>
					<input type="submit" value="立刻注册" id="bt">
				</li>
			</ul>
        </fieldset>
	</form>
</body>
<script type="text/javascript" src="js/jquery-3.4.0.js"></script>
<script type="text/javascript" src="js/js.js"></script>
</html>